* text=auto

*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.spec text eol=lf
*.gitignore text eol=lf

*.exe binary
*.ico binary
*.flp binary
*.mid binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.zip binary
